* {
    margin: 0;
    padding: 0;
  }
  
  .cabecalho {
    background-color: #0f0f0e;
    color: rgb(12, 119, 114);
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
  
  .cabecalho-imagem{
    width: 30%;
  }
  
  .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
  }
  
  .cepav-imagem{
    width: 15%;
  }
  
  .capav{
    background-image: linear-gradient(#245c4b,#345e50);
    color:rgb(8, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  
  .cepav-div-conteudo{
    width: 35%;
  }
  .capav-titulo{
    padding: 24px 0;
  }
  body{
    font-family: sans-serif;
  }
  .estudante {
    background-color: #245c4b;
  }
  .estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }